:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --primaty-black-color: #000000;
  --second-grey-color: #f5f4fa;
  --hero-bg-color: #2f303a;
  --button-hero-hover-color: #188ce8;
  --header-boader-color: #ececec;
  --second-main-background-color: #e5e5e5;
}
/* Утилиты */
.list {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1200px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.part-logo {
  color: var(--primaty-black-color);
}

/*Шапка*/

.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.link-current {
  color: #2196f3;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.contacts-nav {
  display: flex;
  margin-left: auto;
}
.contacts-nav .item + .item {
  margin-left: 50px;
}
.contacts-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}

.contacts-nav .link:hover,
.contacts-nav .link:focus {
  color: #2196f3;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;
  background-color: var(--hero-bg-color);
}
.hero-title {
  margin-bottom: 30px;
  margin: 0 auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  white-space: pre-wrap;
  width: 696px;

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.hero-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  letter-spacing: 0.06em;

  color: var(--primary-white-color);

  background-color: #2196f3;
}
.hero .hero-button:hover,
.hero .hero-button:focus {
  background-color: var(--button-hero-hover-color);
  cursor: pointer;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-features {
  padding-bottom: 0;
}
.features {
  display: flex;
}
.features .item + .item {
  margin-left: 30px;
}
.features .item {
  width: 270px;
}
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}
.features-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.work-list {
  display: flex;
}
.work-list .item + .item {
  margin-left: 30px;
}

.work-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team {
  background-color: var(--second-grey-color);
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
}
.team-list .item + .item {
  margin-left: 30px;
}
.team-list > .item {
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--primary-white-color);
}
.team-name {
  margin-top: 30px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.team-proff {
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
.footer-logo {
  display: block;

  margin-bottom: 20px;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer {
  padding: 60px 0;

  background-color: var(--hero-bg-color);

  letter-spacing: 0.03em;
}
.text-logo {
  color: var(--primary-white-color);
}
.address {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-contacts .item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts .link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
  color: var(--accent-color);
}

.projects-buttons {
  padding: 6px 22px;
  
  background-color: var(--second-grey-color);
  border: none;

  border-radius: 4px;
}
.projects-buttons:hover,
.projects-buttons:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.button-list {
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 50px;

  align-items: center;
}

.button-list .item + .item {
  margin-left: 8px;
}

.text-buttons {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.project-list {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.project-list .item {
  flex-basis: calc(100% / 3 - 30px);
  margin-top: 30px;
  margin-left: 30px;
  background-color: var(--primary-white-color);
}

.projects-name {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects-description {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
.description {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
